*{
    font-family: arial;

}

body {

    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.box {

    width: 300px;
    border: 5px solid black;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    color: black;
    word-wrap: break-word;


}

.text1{

    font-size: 20px;
}